body{
    margin: 0;
    font-family: 'Heebo', sans-serif;
    padding-top: 70px;
}
.container {
    max-width: 1180px;
    max-width: 90%;
    margin: auto;
    padding: 0 16px;
}
ul{
    margin: 0;
    padding: 0;
}
header{
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgb(0 0 0 / 10%);
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
/* header .logo .hut{
    height: 60px;
    width: auto;
} */
header nav ul li{
    display: inline-block;
}
header nav ul li.menu-icon{
    display: none;
}
header nav ul li.menu-icon img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
header .logo{
    display: inline-block;
    font-size: 27px;
}
header nav{
    display: inline-block;
}
header nav ul li a {
    text-decoration: none;
    color: #3E3E3E;
    font-size: 15px;
    letter-spacing: 0.37px;
    margin-right: 24px;
}
header nav ul li a:hover{
    color: #3E50E5;
}
section.hero img{
    height: auto;
    width: 100%;
}
section.hero{
    position: relative;
}
.hero-content{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.hero-content .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.hero-content .container h1{
    max-width: 495px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 56px;
    margin-bottom: 16px;
    margin-top: 0px;
}
.hero-content p{
    max-width: 518px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 21px;
    margin-top: 0px;
}
.hero-content button{
    width: 200px;
    height: 50px;   
    max-width: 100%; 
    background: #3E50E5;
    border-radius: 25px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.hero-content button:hover{
    width: 200px;
    height: 50px;   
    max-width: 100%; 
    color: #3E50E5;
    border-radius: 25px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    background: #FFFFFF;
    border: none;
}
.best-sellers{ padding-top: 90px;}
.best-sellers h2{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 34px;
}
.best-sellers .container{
    display: flex;
    justify-content: space-around
}
.best-sellers hr{
        border: none;
        border-top: 5px solid #67F11D;
        width: 66px;
}
.best-sellers .products{
    border: 1px solid #DDD;
    border-radius: 8px;
    width: 33%;
    text-align: center;
    margin:0 8px;
    padding: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.best-sellers .products .product-info{
    margin-top: 50px;
}
.best-sellers .products .product-info .categories{
    margin-top: 0;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: normal;
    color: #3E50E5;
}
.best-sellers .products .product-info .title{
    margin-top: 0;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;  
}
.best-sellers .products .product-info .price{
    margin-top: 0;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
}
.best-sellers .products .product-info .price .discount{
    margin-top: 0;
    font-family: 'Heebo';
    font-style: normal;
    font-size: 16px;
    color: rgb(185, 184, 184);
    text-decoration: line-through;
}
.best-sellers .product-sliders .products.new::before{
    content: "New";
    color: white;
    font-weight: 400;
    padding: 4px 15px;
    background: #EC1C1C;
    border-radius: 16px;
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 40px;
}
.best-sellers .product-sliders .products img{
    max-width: 100%;
}
.best-sellers .products .product-info button{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    background-color: white;
    border: 1px solid #000000;
    border-radius: 220px;
    height: 50px;
    width: 219.5px;
}
.best-sellers .products:hover .product-info button{
    background: #3E50E5;
    color: white;
    box-shadow: 0px 5px 5px #b6b3b3;
    border: none;
}
.best-sellers .products:hover{
    box-shadow: 0px 5px 5px #434343;
}
section.newsletters{
    text-align: center;
    margin: 80px auto;
    background: #d3d3d342;
    padding: 80px;
    max-width: 955px;
    border-radius: 255px;
}
section.newsletters h3{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    margin-bottom: 0px;
}
section.newsletters p{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
section.newsletters form{
    display: flex;
    justify-content: center;
}
section.newsletters form input{
    width: 326px;
    height: 50px;
    max-width: 80%;
    border-radius: 95px 0 0 95px;
    padding-left: 30px;
    box-sizing: border-box;
    border-color: #3E50E5;
    font-weight: 300;
}
section.newsletters form button{
    width: 162px;
    height: 50px;
    max-width: 80%;
    border-radius: 0 95px 95px 0;
    box-sizing: border-box;
    background: #3E50E5;
    color: white;
    border: none;
    font-weight: 400;
    text-transform: uppercase;
}
section.newsletters form button:hover{
    background-color: white;
    color: #3E50E5;
    border: 2px solid #3E50E5;
    border-left: none;
    cursor: pointer;
}
footer{
    text-align: center;
}
footer .bottom-nav{
    padding: 60px 0;
    background: #3E3E3E;
}
footer .copyright{
    background: #2B2B2B;
    padding: 12px;
    color: #E0E0E0;
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 16px;
}
footer .bottom-nav .container{
    display: flex;
    justify-content: space-between;
    max-width: 995px;
    text-align: left;
}
ul{
    list-style: none;
}
li a{
    text-decoration: none;
}
li{
    margin-bottom: 10px;
}
footer .bottom-nav ul .list-title{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: white;
    margin-top: 0px;
    margin-bottom: 20px;
}
footer .bottom-nav li a{
    margin-top: 0px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #E0E0E0;
}
footer .bottom-nav li a:hover{
    color: #3E50E5;
}

/*Media Qerries To set up size for different dimenetions */

@media screen and (max-width: 1440px) {
    .container{
        max-width: 1180px;
    }
}
@media screen and (max-width: 960px) {
    .container{
        max-width: 92%;
    }
    header nav ul li{
        display: none;
    }
    header nav ul li.menu-icon{
        display: inline-block;
    }
}
@media screen and (max-width: 576px) {
    .container{
        
    }
    header .logo{
        font-size: 18px;
    }

    .hero-content{
        position: static;
    }
    .hero-content .container h1{
        /* max-width: 196px;
        height: 45px; */
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 32px;
        margin-top: 27px;
        color: #000000;
    }
    .hero-content p{
        display: none;
    }
    .hero-content button{
        margin-top: 25px;
        margin: auto;
    }
}
